<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">가온원격평생교육원</span></h2>
                     <!-- <p class="lead"> -->
                     <p class="text-muted">
                            
                         대표이사: 김승완 사업자등록번호 : 192-81-03417 통신판매업신고번호 : 제2025-서울강서-0465호  TEL : 1522-9818 <br>
                            Email : gaon@gaongn.net
                            서울특별시 강서구 마곡중앙로171, 마곡나루역프라이빗타워Ⅱ 617-618호
                            

                        </p>
                    <!-- <p class="lead fw-light mb-4">My name is Start Bootstrap and I help brands grow.</p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorum itaque qui unde quisquam consequatur autem. Eveniet quasi nobis aliquid cumque officiis sed rem iure ipsa! Praesentium ratione atque dolorem?</p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                        <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>